:root {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;

  color-scheme: light;
  background-color: var(--bgColor);
  color: var(--textColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bgColor: #F8F8F8;
  --textColor: #29166E;
  --primaryColor: #C3251D;
  --navbarColor: rgba(248, 248, 248, .9);
  --buttonShadow_hover: rgba(195, 37, 29, .5);
  --buttonShadow_active: rgba(195, 37, 29, .8);
  --placeholderColor: #A9A9AC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
::selection { background-color: var(--primaryColor); color: var(--bgColor); }

h1 { font-size: 8.4rem; line-height: 1.1; }
h3 { font-size: 3rem; }
h4 { font-size: 2.4rem; line-height: 1.2; }
p { font-size: 1.8rem; line-height: 1.4; }
.smallText { font-size: 1.3rem; }

nav {
  position: sticky;
  top: 0;
  background-color: var(--navbarColor);
  padding: 1.8rem; 
  text-align: center;
  width: 100%;
  transform-origin: center top;
  transition: transform ease;
  z-index: 100;
  #navbarLogo { width: 50%; min-width: 250px; max-width: 375px; transform-origin: center top; }
}
#navContent {
  padding: 0 1.8rem;
  text-align: center;
  h4 { margin-bottom: 1rem; }
  a { margin: 0 auto .5rem auto; display: block; width: fit-content; }
}
footer { margin-top: auto; text-align: center; padding: 0 1.8rem 1.8rem 1.8rem; }

button {
  color: var(--bgColor);
  font-size: 1.8rem;
  border-radius: 15px;
  border: none;
  padding: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primaryColor);
  cursor: pointer;
  transition: box-shadow .15s, filter .15s;
}
@media (hover: hover) { button:hover { outline: none; border: none; box-shadow: 0 0 15px var(--buttonShadow_hover); } }
@media (focus: focus) { button:focus { outline: none; border: none; box-shadow: 0 0 15px var(--buttonShadow_hover); } }
button:active { box-shadow: 0 0 15px var(--buttonShadow_active); filter: brightness(105%); }

.textButton {
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  height: max-content;
  width: max-content;
  color: var(--primaryColor);
  text-decoration: inherit;
}
@media (hover: hover) { .textButton:hover { box-shadow: none; text-decoration: underline; } }
@media (focus: focus) { .textButton:focus { box-shadow: none; text-decoration: underline; } }
.textButton:active { box-shadow: none; filter: brightness(110%); }

a { font-size: 1.8rem; font-weight: 500; color: var(--primaryColor); cursor: pointer; text-decoration: inherit; }
@media (hover: hover) { a:hover { text-decoration: underline; } }
a:active { filter: brightness(110%); }

input {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.8rem;
  width: 100%;
  height: 50px;
  border-radius: 15px;
  padding: 10px;
  padding-right: 40px;
  border: 3px var(--textColor) solid;
}
input::placeholder { color: var(--placeholderColor); }
input:focus { outline: none; border: 3px var(--primaryColor) solid; }

.inlineIcon { margin-bottom: .5rem; vertical-align: middle; width: 1.8rem; margin-right: 1rem; user-select: none; }

*::-webkit-scrollbar { width: 11px; }
  
*::-webkit-scrollbar-track { background: var(--bgColor); }
  
*::-webkit-scrollbar-thumb { background: var(--placeholderColor); border-radius: 15px; border: 3px solid var(--bgColor); }
