:root {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;

  color-scheme: light;
  color: #29166E;
  background-color: #F8F8F8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
::selection { background-color: #C3251D; color: #F8F8F8; }

h1 { font-size: 8.4rem; line-height: 1.1; }
h3 { font-size: 3rem; }
h4 { font-size: 2.4rem; line-height: 1.2; }
p { font-size: 1.8rem; line-height: 1.4; }
.smallText { font-size: 1.3rem; }

nav {
  position: sticky;
  top: 0;
  background-color: rgba(248, 248, 248, .9);
  padding: 1.8rem; 
  text-align: center;
  width: 100%;
  transform-origin: center top;
  transition: transform ease;
  z-index: 100;
  #navbarLogo { width: 50%; min-width: 250px; max-width: 375px; transform-origin: center top; }
}
#navContent {
  padding: 0 1.8rem;
  text-align: center;
  a { margin: 0 auto; display: block; }
}
footer { margin-top: auto; text-align: center; padding: 0 1.8rem 1.8rem 1.8rem; }

a { font-size: 1.8rem; font-weight: 500; color: #C3251D; cursor: pointer; text-decoration: inherit; }
@media (hover: hover) { a:hover { text-decoration: underline; } }
a:active { filter: brightness(110%); }

button {
  color: #F8F8F8;
  font-size: 1.8rem;
  border-radius: 15px;
  border: none;
  padding: 1rem 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #C3251D;
  cursor: pointer;
  transition: box-shadow .15s, filter .15s;
}
@media (hover: hover) { button:hover, button:focus { outline: none; border: none; box-shadow: 0 0 15px rgba(195, 37, 29, .5); } }
button:active { box-shadow: 0 0 15px rgba(195, 37, 29, .8); filter: brightness(105%); }

input {
  font-size: 1.6rem;
  width: 100%;
  height: 50px;
  border-radius: 15px;
  padding: 10px;
  padding-right: 40px;
  border: 3px #29166E solid;
}
input::placeholder { color: #A9A9AC; }
input:focus { outline: none; border: 3px #C3251D solid; }

.inlineIcon { margin-bottom: .5rem; vertical-align: middle; width: 1.8rem; margin-right: 1rem; user-select: none; }

*::-webkit-scrollbar { width: 11px; }
  
*::-webkit-scrollbar-track { background: #F8F8F8; }
  
*::-webkit-scrollbar-thumb { background: #C0C0C0; border-radius: 15px; border: 3px solid #F8F8F8; }
